<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Movie Recommendation</title>
</head>
<body>
    <header>
        <form action="" method="post">
            <input type="search" name="q" id="q" placeholder="search here...">
        </form>
    </header>
    <section id="movies">
        <% for(let movie of movies){ %>
            <div class="movie">
                <h1>
                    <%= movie.name %>
                </h1>
                <p>Runtime: <%= movie.runtime %>
                </p>
                <p>Premiered: <%= movie.premiered %>
                </p>
                <img src="<%= movie.image %>" alt="movie-image">
            </div>
            <% } %>
    </section>
</body>
</html>